# Case Study 1 - Project 1: Heart Disease Prediction

This notebook contains a full implementation of a prediction system for various heart diseases using binary classification. The overall goal of this notebook is to go through and understand all steps of the ML workflow, which can be summarized as follows:

1. Look at the big picture and formulate the Problem to solve.
2. Get relevant data, explore and visualize to understand the data
3. Set Benchmark for evaluation - what do you want to achive?
4. Prepare data for Machine Learning, select features, ...
5. Choose appropriate model and train it
6. Look at what else you can try: Fine tune your model,... and iterate
7. Present your solution
8. Deploy, Monitor and Maintain (this part will be covered in another project)

**Initial Question**: *How would you approach the problem?*
> **Answer**: I would start by looking for existing literature as well as already implemented projects. After an initial gathering of understanding I would search for datasets to inspect and look for features to include or exclude in training/testing. After preparing the data for training, i would select a machine learning model based on existing literature projects to train and evaluate using the data selected before. Finally, I would tweak the model and or the dataset in order to improve prediction accuracy. After achieving a minimum required accuracy, i would prepare and present the results and finally deploy the model.

## Imports

In [4]:
import pandas as pd
import numpy as np
import matplotlib
import ucimlrepo as uci

## 1. Project Understanding

**Initial Question**: *How does the company expect to use and benefit from this model?*
> **Answer**: Using binary classification, this model could be used to increase the efficiency of recognizing heart diseases in hospitals early and thus provide appropriate treatment for patients early. This could be done by collecting the vitality parameters of the patients that are needed as featuers for the prediction model. The benefits of this could be an overall increase of health in the population and a dicrease in fatal cases of heart diseases.

## 2. Gathering Data

For this step, we would normally compare between different public datasets (or create our own depending on use case and complexity) in order to decide which data to use. For the first project of this course, we will keep it simple and use the dataset provided in the project specification.

The dataset used for this project is the [Heart Disease Dataset](https://archive.ics.uci.edu/dataset/45/heart+disease)  from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/), which provides a python package called **ucimlrepo** for loading the dataset. It can be loaded as follows:

In [37]:
heart_disease = uci.fetch_ucirepo(id=45) 

# load data as dataframes
X = heart_disease.data.features 
y = heart_disease.data.targets

After loading the data, we start by looking at the metadata to get more information about the dataset itself.

In [38]:
from pprint import pprint

pprint(heart_disease.metadata)

{'abstract': '4 databases: Cleveland, Hungary, Switzerland, and the VA Long '
             'Beach',
 'additional_info': {'citation': None,
                     'funded_by': None,
                     'instances_represent': None,
                     'preprocessing_description': None,
                     'purpose': None,
                     'recommended_data_splits': None,
                     'sensitive_data': None,
                     'summary': 'This database contains 76 attributes, but all '
                                'published experiments refer to using a subset '
                                'of 14 of them.  In particular, the Cleveland '
                                'database is the only one that has been used '
                                'by ML researchers to date.  The "goal" field '
                                'refers to the presence of heart disease in '
                                'the patient.  It is integer valued from 0 (no '
                                'presence) to 4. Experiments with the '
                                'Cleveland database have concentrated on '
                                'simply attempting to distinguish presence '
                                '(values 1,2,3,4) from absence (value 0).  \n'
                                '   \n'
                                'The names and social security numbers of the '
                                'patients were recently removed from the '
                                'database, replaced with dummy values.\n'
                                '\n'
                                'One file has been "processed", that one '
                                'containing the Cleveland database.  All four '
                                'unprocessed files also exist in this '
                                'directory.\n'
                                '\n'
                                'To see Test Costs (donated by Peter Turney), '
                                'please see the folder "Costs" ',
                     'variable_info': 'Only 14 attributes used:\r\n'
                                      '      1. #3  (age)       \r\n'
                                      '      2. #4  (sex)       \r\n'
                                      '      3. #9  (cp)        \r\n'
                                      '      4. #10 (trestbps)  \r\n'
                                      '      5. #12 (chol)      \r\n'
                                      '      6. #16 (fbs)       \r\n'
                                      '      7. #19 (restecg)   \r\n'
                                      '      8. #32 (thalach)   \r\n'
                                      '      9. #38 (exang)     \r\n'
                                      '      10. #40 (oldpeak)   \r\n'
                                      '      11. #41 (slope)     \r\n'
                                      '      12. #44 (ca)        \r\n'
                                      '      13. #51 (thal)      \r\n'
                                      '      14. #58 (num)       (the '
                                      'predicted attribute)\r\n'
                                      '\r\n'
                                      'Complete attribute documentation:\r\n'
                                      '      1 id: patient identification '
                                      'number\r\n'
                                      '      2 ccf: social security number (I '
                                      'replaced this with a dummy value of '
                                      '0)\r\n'
                                      '      3 age: age in years\r\n'
                                      '      4 sex: sex (1 = male; 0 = '
                                      'female)\r\n'
                                      '      5 painloc: chest pain location (1 '
                                      '= substernal; 0 = otherwise)\r\n'
                                      '      6 painexer (1 = provoked by '
                                      'exertion; 0 = otherwise)\r\n'
                                      '      7 relrest (1 = relieved after '
                                      'rest; 0 = otherwise)\r\n'
                                      '      8 pncaden (sum of 5, 6, and 7)\r\n'
                                      '      9 cp: chest pain type\r\n'
                                      '        -- Value 1: typical angina\r\n'
                                      '        -- Value 2: atypical angina\r\n'
                                      '        -- Value 3: non-anginal pain\r\n'
                                      '        -- Value 4: asymptomatic\r\n'
                                      '     10 trestbps: resting blood '
                                      'pressure (in mm Hg on admission to the '
                                      'hospital)\r\n'
                                      '     11 htn\r\n'
                                      '     12 chol: serum cholestoral in '
                                      'mg/dl\r\n'
                                      '     13 smoke: I believe this is 1 = '
                                      'yes; 0 = no (is or is not a smoker)\r\n'
                                      '     14 cigs (cigarettes per day)\r\n'
                                      '     15 years (number of years as a '
                                      'smoker)\r\n'
                                      '     16 fbs: (fasting blood sugar > 120 '
                                      'mg/dl)  (1 = true; 0 = false)\r\n'
                                      '     17 dm (1 = history of diabetes; 0 '
                                      '= no such history)\r\n'
                                      '     18 famhist: family history of '
                                      'coronary artery disease (1 = yes; 0 = '
                                      'no)\r\n'
                                      '     19 restecg: resting '
                                      'electrocardiographic results\r\n'
                                      '        -- Value 0: normal\r\n'
                                      '        -- Value 1: having ST-T wave '
                                      'abnormality (T wave inversions and/or '
                                      'ST elevation or depression of > 0.05 '
                                      'mV)\r\n'
                                      '        -- Value 2: showing probable or '
                                      'definite left ventricular hypertrophy '
                                      "by Estes' criteria\r\n"
                                      '     20 ekgmo (month of exercise ECG '
                                      'reading)\r\n'
                                      '     21 ekgday(day of exercise ECG '
                                      'reading)\r\n'
                                      '     22 ekgyr (year of exercise ECG '
                                      'reading)\r\n'
                                      '     23 dig (digitalis used furing '
                                      'exercise ECG: 1 = yes; 0 = no)\r\n'
                                      '     24 prop (Beta blocker used during '
                                      'exercise ECG: 1 = yes; 0 = no)\r\n'
                                      '     25 nitr (nitrates used during '
                                      'exercise ECG: 1 = yes; 0 = no)\r\n'
                                      '     26 pro (calcium channel blocker '
                                      'used during exercise ECG: 1 = yes; 0 = '
                                      'no)\r\n'
                                      '     27 diuretic (diuretic used used '
                                      'during exercise ECG: 1 = yes; 0 = '
                                      'no)\r\n'
                                      '     28 proto: exercise protocol\r\n'
                                      '          1 = Bruce     \r\n'
                                      '          2 = Kottus\r\n'
                                      '          3 = McHenry\r\n'
                                      '          4 = fast Balke\r\n'
                                      '          5 = Balke\r\n'
                                      '          6 = Noughton \r\n'
                                      '          7 = bike 150 kpa min/min  '
                                      '(Not sure if "kpa min/min" is what was '
                                      'written!)\r\n'
                                      '          8 = bike 125 kpa min/min  \r\n'
                                      '          9 = bike 100 kpa min/min\r\n'
                                      '         10 = bike 75 kpa min/min\r\n'
                                      '         11 = bike 50 kpa min/min\r\n'
                                      '         12 = arm ergometer\r\n'
                                      '     29 thaldur: duration of exercise '
                                      'test in minutes\r\n'
                                      '     30 thaltime: time when ST measure '
                                      'depression was noted\r\n'
                                      '     31 met: mets achieved\r\n'
                                      '     32 thalach: maximum heart rate '
                                      'achieved\r\n'
                                      '     33 thalrest: resting heart rate\r\n'
                                      '     34 tpeakbps: peak exercise blood '
                                      'pressure (first of 2 parts)\r\n'
                                      '     35 tpeakbpd: peak exercise blood '
                                      'pressure (second of 2 parts)\r\n'
                                      '     36 dummy\r\n'
                                      '     37 trestbpd: resting blood '
                                      'pressure\r\n'
                                      '     38 exang: exercise induced angina '
                                      '(1 = yes; 0 = no)\r\n'
                                      '     39 xhypo: (1 = yes; 0 = no)\r\n'
                                      '     40 oldpeak = ST depression induced '
                                      'by exercise relative to rest\r\n'
                                      '     41 slope: the slope of the peak '
                                      'exercise ST segment\r\n'
                                      '        -- Value 1: upsloping\r\n'
                                      '        -- Value 2: flat\r\n'
                                      '        -- Value 3: downsloping\r\n'
                                      '     42 rldv5: height at rest\r\n'
                                      '     43 rldv5e: height at peak '
                                      'exercise\r\n'
                                      '     44 ca: number of major vessels '
                                      '(0-3) colored by flourosopy\r\n'
                                      '     45 restckm: irrelevant\r\n'
                                      '     46 exerckm: irrelevant\r\n'
                                      '     47 restef: rest raidonuclid (sp?) '
                                      'ejection fraction\r\n'
                                      '     48 restwm: rest wall (sp?) motion '
                                      'abnormality\r\n'
                                      '        0 = none\r\n'
                                      '        1 = mild or moderate\r\n'
                                      '        2 = moderate or severe\r\n'
                                      '        3 = akinesis or dyskmem '
                                      '(sp?)\r\n'
                                      '     49 exeref: exercise radinalid '
                                      '(sp?) ejection fraction\r\n'
                                      '     50 exerwm: exercise wall (sp?) '
                                      'motion \r\n'
                                      '     51 thal: 3 = normal; 6 = fixed '
                                      'defect; 7 = reversable defect\r\n'
                                      '     52 thalsev: not used\r\n'
                                      '     53 thalpul: not used\r\n'
                                      '     54 earlobe: not used\r\n'
                                      '     55 cmo: month of cardiac cath '
                                      '(sp?)  (perhaps "call")\r\n'
                                      '     56 cday: day of cardiac cath '
                                      '(sp?)\r\n'
                                      '     57 cyr: year of cardiac cath '
                                      '(sp?)\r\n'
                                      '     58 num: diagnosis of heart disease '
                                      '(angiographic disease status)\r\n'
                                      '        -- Value 0: < 50% diameter '
                                      'narrowing\r\n'
                                      '        -- Value 1: > 50% diameter '
                                      'narrowing\r\n'
                                      '        (in any major vessel: '
                                      'attributes 59 through 68 are '
                                      'vessels)\r\n'
                                      '     59 lmt\r\n'
                                      '     60 ladprox\r\n'
                                      '     61 laddist\r\n'
                                      '     62 diag\r\n'
                                      '     63 cxmain\r\n'
                                      '     64 ramus\r\n'
                                      '     65 om1\r\n'
                                      '     66 om2\r\n'
                                      '     67 rcaprox\r\n'
                                      '     68 rcadist\r\n'
                                      '     69 lvx1: not used\r\n'
                                      '     70 lvx2: not used\r\n'
                                      '     71 lvx3: not used\r\n'
                                      '     72 lvx4: not used\r\n'
                                      '     73 lvf: not used\r\n'
                                      '     74 cathef: not used\r\n'
                                      '     75 junk: not used\r\n'
                                      '     76 name: last name of patient  (I '
                                      'replaced this with the dummy string '
                                      '"name")'},
 'area': 'Health and Medicine',
 'characteristics': ['Multivariate'],
 'creators': ['Andras Janosi',
              'William Steinbrunn',
              'Matthias Pfisterer',
              'Robert Detrano'],
 'data_url': 'https://archive.ics.uci.edu/static/public/45/data.csv',
 'dataset_doi': '10.24432/C52P4X',
 'demographics': ['Age', 'Sex'],
 'feature_types': ['Categorical', 'Integer', 'Real'],
 'has_missing_values': 'yes',
 'index_col': None,
 'intro_paper': {'DOI': None,
                 'ID': 231,
                 'URL': 'https://www.semanticscholar.org/paper/a7d714f8f87bfc41351eb5ae1e5472f0ebbe0574',
                 'acl': None,
                 'arxiv': None,
                 'authors': 'R. Detrano, A. Jánosi, W. Steinbrunn, M. '
                            'Pfisterer, J. Schmid, S. Sandhu, K. Guppy, S. '
                            'Lee, V. Froelicher',
                 'corpus': None,
                 'journal': None,
                 'mag': None,
                 'pmcid': None,
                 'pmid': '2756873',
                 'sha': None,
                 'title': 'International application of a new probability '
                          'algorithm for the diagnosis of coronary artery '
                          'disease.',
                 'type': 'NATIVE',
                 'venue': 'American Journal of Cardiology',
                 'year': 1989},
 'last_updated': 'Fri Nov 03 2023',
 'missing_values_symbol': 'NaN',
 'name': 'Heart Disease',
 'num_features': 13,
 'num_instances': 303,
 'repository_url': 'https://archive.ics.uci.edu/dataset/45/heart+disease',
 'target_col': ['num'],
 'tasks': ['Classification'],
 'uci_id': 45,
 'year_of_dataset_creation': 1989}

The next step is to look at the different input features to get a better understanding of what the dataset contains and what can be used for training the binary classifier.

In [39]:
heart_disease.variables

,name,role,type,demographic,description,units,missing_values
0,age,Feature,Integer,Age,None,years,no
1,sex,Feature,Categorical,Sex,None,None,no
2,cp,Feature,Categorical,None,None,None,no
3,trestbps,Feature,Integer,None,resting blood pressure (on admission to the ho...,mm Hg,no
4,chol,Feature,Integer,None,serum cholestoral,mg/dl,no
5,fbs,Feature,Categorical,None,fasting blood sugar > 120 mg/dl,None,no
6,restecg,Feature,Categorical,None,None,None,no
7,thalach,Feature,Integer,None,maximum heart rate achieved,None,no
8,exang,Feature,Categorical,None,exercise induced angina,None,no
9,oldpeak,Feature,Integer,None,ST depression induced by exercise relative to ...,None,no
10,slope,Feature,Categorical,None,None,None,no
11,ca,Feature,Integer,None,number of major vessels (0-3) colored by flour...,None,yes
12,thal,Feature,Categorical,None,None,None,yes
13,num,Target,Integer,None,diagnosis of heart disease,None,no

Finally, the output data y can be inspected for further understanding of what the output can and should look like for the binary classifier.

*Note that it would be necessary to evaluate the qualityy of the dataset. For the sake of simplicity of this first project, this step will be skipped*

### 3. Selecing Evaluation Metrics

Evaluation metrics are used to get a better understanding of how good the binary classifier is at predicting heart diseases from a given input. The choice of the metrics depends on the project and what the goals are.
In the case of this project, metrics for binary classifiers in supervised learning are used.

For this first project, a confusion matrix will be used to evaluate the classifier.
From the confusion matrix, various other metrics like accuracy, precision, recall and F1-score can be derived.

## 4. Data Preparation

In this step, we prepare the data in order to train and test the data later. This includes various steps like cleaning/transforming the data and splitting it into training and testing data.

For the heart disease dataset, we can take a look at the target variable y:

In [43]:
y["num"].unique()

array([0, 2, 1, 3, 4])

Here we can see that the target variable contains five different output values for differnet types of heart disease. In this project, a binary classification is implemented, which only differentiates between "No Heart Disease" as 0 and "Hart Disease as 1. Therefore, we need to update the columns to account for that.

In [47]:
df=pd.concat([X, y] , axis=1)
df['target']=df["num"].apply(lambda x: 0 if x==0 else 1)
df.drop("num", axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        299 non-null    float64
 12  thal      301 non-null    float64
 13  target    303 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 33.3 KB

Now we can look for missing values by looking at all the columns of the dataframe:

In [48]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,1
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1
299,68,1,4,144,193,1,0,141,0,3.4,2,2.0,7.0,1
300,57,1,4,130,131,0,0,115,1,1.2,2,1.0,7.0,1
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0

The `ca`column aswell as the `thal` column contain missing values for a few rows, This can be seen using the isna() function of pandas.

In [50]:
df[df['ca'].isna()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
166,52,1,3,138,223,0,0,169,0,0.0,1,NaN,3.0,0
192,43,1,4,132,247,1,2,143,1,0.1,2,NaN,7.0,1
287,58,1,2,125,220,0,0,144,0,0.4,2,NaN,7.0,0
302,38,1,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0

In [51]:
df[df['thal'].isna()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
87,53,0,3,128,216,0,2,115,0,0.0,1,0.0,NaN,0
266,52,1,4,128,204,1,0,156,1,1.0,2,0.0,NaN,1

Those rows need to be removed before any further steps are taken. This can be done easily using the dropna() function of pandas:

In [ ]:
df.dropna(inplace=True)
df.info()